robotframework==7.2.2
robotframework-pabot==4.1.1
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.7.0
robotframework-stacktrace==0.4.1
PyYAML==6.0.2
browserstack_sdk==1.23.8
